/* Estilos para CitaForm */
.cita-form-container {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 50px solid rgb(76, 170, 175);
  border-radius: 8px;
  margin-top: 20px;

  label {
    color: #4cafad;
    font-size: 18px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 100px solid #0ae796;
    border-radius: 4px;
  }

  button {
    background-color: rgb(38, 225, 203);
    color: #171313;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: rgb(66, 170, 167);
    }
  }
  }
  
.cita-list-container {
    max-width: 800px;
    margin: auto;
  }
  h1{
    text-align: center;
  color: #4caf50;
  }

  
  